<script>
    for(let a = 1; a<=10; a++){
        document.write(a);
    }
    document.write('<br/>');

    let b = 1;
    while(b<=10){
        document.write(b);
        b++;
    }
    document.write("<br/>");

    let c = 1;
    do{
        document.write(c);
        c++
    }while(c<=10);
</script>